@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

.tab-button::after {
  content: "";
  width: 0;
  height: 3px;
  background: #fea255;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-button.active::after {
  width: 100%;
}
